<div class="progress-spinner" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>
<div class="row" >
    <div class="col-12">
        <input (keyup.enter)="onEnter()" style="width: 100%;" type="text" pInputText [(ngModel)]="inputText" />
    </div>
    <div class="col-12">
        <p-checkbox [(ngModel)]="filter" [binary]="true" label="Market mode"></p-checkbox>

    </div>
    <hr>
    <form style="width: 100%;" >

        <div class="col-12" *ngFor="let item of itemList"
            [hidden]="!item.name.toLowerCase().includes(inputText.toLowerCase()) || (filter && item.active)">

            <p-checkbox [binary]="true" [name]="item.name" (onChange)="onChange($event)" [(ngModel)]="item.active" [label]="item.name"></p-checkbox>
            <i class="pi pi-trash delete-icon" (click)="onDelete(item.name)" ></i>
        </div>
    </form>

</div>


<p-dialog [(visible)]="showModal" [modal]="true">
    <p-progressSpinner *ngIf="modalLoading"></p-progressSpinner>
    <div class="container">
        <div class="row" style="min-height: 50vh;" *ngIf="!modalLoading">
            <div class="col-12">
                <h2>Please introduce the password for this list</h2>
                <p>It seems like it's your first time in this list. Please introduce the password for the list.</p>
            </div>

            <div class="col-12">
                Password <br>
                <input type="password" class="full-width-input" [(ngModel)]="listPassword" pInputText >
            </div>
            <div class="col-12">
                <p-button class="full-width-input" (click)="authorize()" label="Log in to list"></p-button>
            </div>
        </div>
    </div>

</p-dialog>