<h1>Welcome to the shopping list app</h1>
<p-progressSpinner *ngIf="loading"></p-progressSpinner>
<div class="container" *ngIf="!loading">
    <div style="padding: 1em 0" class="row">
        <p-button (click)="displayModal()" label="Create new list"></p-button>
    </div>
    <div class="row">
        <p>Avaiable lists:</p>
    </div>
        <ul>
            <li *ngFor="let item of lists">
                <a [routerLink]="['/list', item.id]">{{item.name}}</a>
                
            </li>
        </ul>

</div>

<br>


<p-dialog header="Create new list" [(visible)]="showModal" [modal]="true">
    <p-progressSpinner *ngIf="modalLoading"></p-progressSpinner>
    <div class="container">
        <form [formGroup]="createListForm" (ngSubmit)="createList()" >
            <div class="row" style="min-height: 50vh;" *ngIf="!modalLoading">
                <div class="col-12">
                    <h2>Choose a password that you can share</h2>
                    <p>After creating the list with a password, share it with the link that you will get</p>
                </div>
                <div class="col-6">
                    List name <br>
                    <input formControlName="name" class="full-width-input" type="text"  pInputText />
                </div>
                <div class="col-6">
                    Password <br>
                    <input formControlName="password" type="password" class="full-width-input" pInputText>
                </div>
                <div class="col-12">
                    <p-button [disabled]="createListForm.status != 'VALID'" class="full-width-input" (click)="createList()" label="Create"></p-button>
                </div>
            </div>
        </form>
    </div>

</p-dialog>