<h1>Welcome to the shopping list app</h1>
<p-progressSpinner *ngIf="loading"></p-progressSpinner>
<div *ngIf="!loading">
    <p>Avaiable lists:</p>
    <div *ngFor="let item of lists">
        <p-button  [label]="item.name" [routerLink]="['/list', item.id]"></p-button>
        <br>
    </div>

</div>

<br>

<p-button (click)="displayModal()" label="Create in the cloud"></p-button>

<p-dialog header="Title" [(visible)]="showModal"  [modal]="true">
    <p-progressSpinner *ngIf="modalLoading"></p-progressSpinner>

    <div style="min-height: 50vh;" *ngIf="!modalLoading" >
        <h2>Choose a password that you can share</h2>
        <p>After creating the list with a password, share it with the link that you will get</p>
        <p-password [(ngModel)]="newListPassword"></p-password>
        <input type="text" [(ngModel)]="newListName" pInputText />


    </div>
    <p-button (click)="createList()" label="Create"></p-button>

</p-dialog>