<h1>The most efficient and easy to use shopping list</h1>
<p>Use the text area to write what you're looking for. That will act as a filter. If what you're looking for is not in the list, just press enter and it will be added to the list.</p>
<p>Whenever you add, check, uncheck or delete an element it will be saved automatically</p>
<p>You can create a new list and share the password with housemates, family members or friends. Anyone with the link and the password will be able to access and modify the shopping list</p>
<p>The LOCAL list is only saved in your phone and does not require a password. Please bear in mind that if you visit this web in incognito mode all your data will be lost once you leave</p>
<p>This application was made by Gabriel Amalio Amador García because he didn't feel like loosing time to organize the shopping every week and has been refined with his own experience to make it more than usable for regular people.</p>
<p>I hope the app helps you to save some precious time in your life and avoid some headaches</p>